name: Generate GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  trigger-workflow:
    runs-on: ubuntu-latest
    env:
      REPO_OWNER: inianv
      REPO_NAME: inianv.github.io
      WORKFLOW_FILENAME: generate.yml

    steps:
      - run: |
          curl \
            --request POST \
            --url https://api.github.com/repos/inianv/inianv.github.io/actions/workflows/generate.yml/dispatches \
            --header "Accept: application/vnd.github.v3+json" \
            --header "Authorization: Bearer ${{ secrets.BLOG_GENERATE_SECRET }}" \
            --data '{"ref":"main", "inputs": { "hugoVersion":"0.154.2" }}' \
            --fail
